/* Resetando o estilo de margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo uma fonte de máquina de escrever */
body {
    font-family: 'Courier New', Courier, monospace; /* Fonte de máquina de escrever */
    background-color: #f0f0f0; /* Cor de fundo clara */
    color: #333; /* Cor do texto */
    line-height: 1.6;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff; /* Fundo branco para a área de conteúdo */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 1.2rem;
    color: #555;
}
